@model IQueryable<StudyCenter.Model.ChoiceQuestion>
<div id="listUIMode" class="listUIMode">
    <div class="questionItemContanier">
        <ul class='questionItems'>
            <li class="questionItem">
                <div class="questionTiltle">
                    <div id = "questiontitleContent" class="questiontitleContent">
                        选择题
                    </div>
                    <div id="questionContent" class="questionContent" >
                        <div class="question">
                            <div>
                                1.钢铁是怎么样炼成的?
                                1.钢铁是怎么样炼成的?
                                1.钢铁是怎么样炼成的?
                                1.钢铁是怎么样炼成的?
                                1.钢铁是怎么样炼成的?
                                1.钢铁是怎么样炼成的?
                                1.钢铁是怎么样炼成的?
                                <span style="color:#09f;">
                                    <a class="questionInfo"  href="javascript:ViewQuestion(1111)">&nbsp;&nbsp;详情...</a>
                                </span>
                                                
                                <div style="width:400px;height:20px;margin-left:30%;text-align:left;">
                                    <span style="color:#09f;">出题人:</span>吴自飞&nbsp;&nbsp;
                                    <span style="color:#09f;">时间:</span>2015-05-15&nbsp;&nbsp;
                                    <span style="color:#09f;">难度:</span>★★★☆☆
                                </div>
                            </div>
                                            
                        </div>
                        <div class="answer">
                        <span style="color:#09f;">答案:</span>
                        &nbsp;&nbsp;put it into the pot and boil it with fire
                        &nbsp;&nbsp;put it into the pot and boil it with fire
                        &nbsp;&nbsp;put it into the pot and boil it with fire
                        &nbsp;&nbsp;put it into the pot and boil it with fire
                        &nbsp;&nbsp;put it into the pot and boil it with fire
                        </div>
                    </div>
                </div>
                <input type="checkbox"  name="question1" class="chooseQuestion"  value="1111" />
            </li> 
        </ul>
    </div>
</div>
