<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <configSections>
    <sectionGroup name="spring">
			<section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core"/>
			<section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core"/>
		</sectionGroup>
  </configSections>

  <spring>
		  <context>
			  <!--<resource uri="assembly://StudyCenter.UI//bin//Objects.xml"/>
        文件的相对路径-->
			  <resource uri="~/Objects.xml"/>
			  <!--<resource uri="App.config://spring/objects" />-->
		  </context>
	    <objects xmlns="http://www.springframework.net">
		    <object id="BllSession" singleton="false"  type="StudyCenter.BLl.BllSession,StudyCenter.BLL"></object>
	    </objects>
  </spring> 

</configuration>