<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>教师中心</title>
    <link href="~/Content/CSS/TeacherCenter.css" rel="stylesheet" />
</head>


<body>
    <div class="centerDiv">
        <div class="teacherContanier">
    
            <div>
                <ul class="teacherItems">
                    <li class="teacherItem">
                	    <a class="clearDecoration" style="color:#fff;" onclick="parent.addTab('题库管理','/question/index',650);" href="">
                            <div class="teacherItemTitle">
                                <h3>题库管理</h3>
                            </div>
                            <div class="teacherItemDescription">
                       		    <div style="padding:2px;">
		                               <p class="desContent">
		                                   查看/修改试题<br/>	
		                                   新建试题<br />
		                                   删除试题<br />
		                               </p>
                                </div>
                            </div>
                        </a>
                    </li> 
                    <li class="teacherItem">
                	    <a class="clearDecoration"  onclick="parent.addTab('试卷管理','/testpaper/index',650);" href="">
                            <div class="teacherItemTitle">
                                <h3>试卷管理</h3>
                            </div>
                            <div class="teacherItemDescription">
                                <div style="padding:2px;">
                                    <p class="desContent">		
                                        删除试卷<br />
                                        修改未发布试卷<br/>
                                        查找试卷<br />
                                    </p>
                                </div>
                            </div>
                        </a>
                    </li>  
                    <li class="teacherItem">
                	    <a class="clearDecoration" onclick=" parent.window.open('/testpaper/add/');" href="">
                            <div class="teacherItemTitle">
                                <h3>新建试卷</h3>
                            </div>
                            <div class="teacherItemDescription">
                       		    <div style="padding:2px;">
                                    <p class="desContent">		
                                        新建作业<br />
                                        新建试卷<br/>
                                        新建草稿<br />
                                    </p>
                                </div>
                            </div>
                        </a>
                    </li>                
                  <li class="teacherItem">
                	    <a class="clearDecoration" href="/user/login/">
                            <div class="teacherItemTitle">
                                <h3>批改作业</h3>
                            </div>
                            <div class="teacherItemDescription">
                                <span>Description</span>
                            </div>
                        </a>
                    </li>                <li class="teacherItem">
                	    <a class="clearDecoration" href="/user/login/">
                            <div class="teacherItemTitle">
                                <h3>批改试卷</h3>
                            </div>
                            <div class="teacherItemDescription">
                                <span>Description</span>
                            </div>
                        </a>
                    </li>
                                    <li class="teacherItem">
                	    <a class="clearDecoration" href="/user/login/">
                            <div class="teacherItemTitle">
                                <h3>奖惩学生</h3>
                            </div>
                            <div class="teacherItemDescription">
                                <span>Description</span>
                            </div>
                        </a>
                    </li>                <li class="teacherItem">
                	    <a class="clearDecoration" href="/user/login/">
                            <div class="teacherItemTitle">
                                <h3>统计中心</h3>
                            </div>
                            <div class="teacherItemDescription">
                                <span>Description</span>
                            </div>
                        </a>
                    </li>                <li class="teacherItem">
                	    <a class="clearDecoration" href="/user/login/">
                            <div class="teacherItemTitle">
                                <h3>题库浏览</h3>
                            </div>
                            <div class="teacherItemDescription">
                                <span>Description</span>
                            </div>
                        </a>
                    </li>                
                    <li class="teacherItem">
                	    <a class="clearDecoration" href="/user/login/">
                            <div class="teacherItemTitle">
                                <h3>学生浏览</h3>
                            </div>
                            <div class="teacherItemDescription">
                                <span>Description</span>
                            </div>
                        </a>
                    </li>                
                </ul>
            </div>
        
        </div><!--teacherContanier end-->
    </div><!--centerDiv end-->
</body>
</html>
